
body {
    font-family: 'Arial', sans-serif;
}

input[type="number"], input[type="text"] {
    border-color: #d1d5db;
}

input:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 1px #3b82f6;
}

button {
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #2563eb;
}


footer {
    width: 100%;
}

.hidden {
    display: none;
}